So i downloaded all my location history from 2015 to May 2020, let's see what's up.

In [59]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import json

In [63]:
doc_url = "2015_NOVEMBER.json"
df = pd.read_json(doc_url)
df.head()

                                     timelineObjects
0  {'placeVisit': {'location': {'latitudeE7': 454...
1  {'placeVisit': {'location': {'latitudeE7': 454...
2  {'activitySegment': {'startLocation': {'latitu...
3  {'placeVisit': {'location': {'latitudeE7': 454...
4  {'activitySegment': {'startLocation': {'latitu...

                                           locations
0  {'timestampMs': '1448397131603', 'latitudeE7':...
1  {'timestampMs': '1448397257008', 'latitudeE7':...
2  {'timestampMs': '1448397318796', 'latitudeE7':...
3  {'timestampMs': '1448397439903', 'latitudeE7':...
4  {'timestampMs': '1448397559880', 'latitudeE7':...

In [14]:
df.shape

(641453, 1)

In [30]:
df2 = pd.DataFrame.from_dict(df.iloc[0])
df2.head()

                                                           0
locations  {'timestampMs': '1448397131603', 'latitudeE7':...

In [32]:
df3 = pd.DataFrame.from_dict(df2.iloc[[0]])
df3.head()

                                                           0
locations  {'timestampMs': '1448397131603', 'latitudeE7':...

In [33]:
row = df2[0]

In [34]:
print(row)

locations    {'timestampMs': '1448397131603', 'latitudeE7':...
Name: 0, dtype: object

In [36]:
df3 = df3 = pd.DataFrame.from_dict(row)
df3.head()

                                                           0
locations  {'timestampMs': '1448397131603', 'latitudeE7':...

In [60]:
row2 = str(row)
row3 = row2.replace('locations    ', '', 1)
row4 = json.loads(row3)
print(type(row3))

JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 2 (char 1)

In [56]:
df3 = pd.DataFrame.from_dict(row3)
df3.head()

ValueError: DataFrame constructor not properly called!